---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import projects from "../../data/projects.json";
import "../../styles/projects.css";
import type { Project } from "../../types.ts";
import ProjectCard from "./ProjectCard.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/projects/*.{svg,png,astro,webp,avif}"
);
---

<section id='projects'>
  <h2 class='section-title reveal'>
    <ion-icon name='bug-outline'></ion-icon>
    Projects
  </h2>
  <div id='projectsContainer'>
    {
      projects.map((project: Project) => (
        <ProjectCard project={project}>
          <Image
            class='card-image'
            slot='image'
            src={images[`/src/images/projects/${project.image}`]()}
            draggable='false'
            alt='project'
            loading={"eager"}
          />
        </ProjectCard>
      ))
    }
  </div>
  <a href='/projects' class='btn reveal'>
    View All
    <ion-icon name='arrow-forward-outline'></ion-icon>
  </a>
</section>
<style>
  .card-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center center;
  }
</style>
