/* Estilos para el encabezado */
header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos para el menú */
nav {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
nav a:hover {
    background-color: #34495e;
}

/* Estilos para el contenido principal */
main {
    background-color: #ecf0f1;
    padding: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}
