<svg
  {...Astro.props}
  class='menuicon'
  width='50'
  height='50'
  viewBox='0 0 50 50'
>
  <title>Toggle Menu</title>
  <g>
    <line class='bar' x1='13' y1='16.5' x2='37' y2='16.5'></line>
    <line class='bar' x1='13' y1='24.5' x2='37' y2='24.5'></line>
    <line class='bar' x1='13' y1='24.5' x2='37' y2='24.5'></line>
    <line class='bar' x1='13' y1='32.5' x2='37' y2='32.5'></line>
  </g>
</svg>
<style>
  .menuicon {
    display: block;
    cursor: pointer;
    color: white;

    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    .bar {
      fill: none;
      stroke: currentColor;
      stroke-width: 3;
      stroke-linecap: round;
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-in-out;
    }
  }
</style>
