<svg {...Astro.props} class='menuicon' viewBox='0 0 50 50'>
  <title>Toggle Menu</title>
  <g>
    <line class='bar' x1='5' y1='11.5' x2='45' y2='11.5'></line>
    <line class='bar' x1='5' y1='24.5' x2='45' y2='24.5'></line>
    <line class='bar' x1='5' y1='24.5' x2='45' y2='24.5'></line>
    <line class='bar' x1='5' y1='37.5' x2='45' y2='37.5'></line>
  </g>
</svg>
<style>
  .menuicon {
    display: block;
    cursor: pointer;
    color: white;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    .bar {
      fill: none;
      stroke: currentColor;
      stroke-width: 4;
      stroke-linecap: round;
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-in-out;
    }
  }
</style>
