/* experience section starts */
.experience .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 2vh;
}

.experience .timeline::after {
    content: "";
    position: absolute;
    width: 0.5vw;
    background: #020133;
    top: 2%;
    bottom: 2%;
    left: 50%;
    transform: translateX(-0.25vw);
    z-index: -2;
}

/*circles on timeline*/
.experience .timeline .container i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
    border: 0.5rem solid #294F85;
    border-radius: 50%;
    background-color: white;
}

.experience .timeline .right .content {
    left: 3vw;
}

.experience .timeline .left .content {
    right: 3vw;
}

.experience .timeline .right i {
    left: -1.5vw;
}

.experience .timeline .left i {
    right: -1.5vw;
}

/*end circles on timeline*/

.experience .timeline .container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.experience .container .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #294F85;
    height: 20vh;
    width: 30vw;
    position: relative;
    border-radius: 4%/10%;
    border: solid 1px black;
    overflow: hidden;
}

.experience .container a:hover .content {
    transform: scale(1.03);
    box-shadow: -1px 5px 10px #294F85;
}

.experience .container .content img {
    height: 100%;
    width: auto;
    max-width: 40vw;
    border-radius: 4%/10%;
    box-sizing: border-box;
}

.experience .container.left {
    right: 50%;
}

.experience .container.right {
    left: 50%;
}

.experience .container.right .content {
    flex-direction: row-reverse;
}

.experience .container.right .content .text {
    flex-grow: 1;
}

.experience .container .content .text {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
}

.experience .container .content .text h2 {
    font-size: 2rem;
    font-weight: 700;
}

.experience .container .content .text h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #E0967D;
}

.experience .container .content .text .desc p span {
    color: white;
}

.experience .content .desc h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.experience .content .desc p {
    font-size: 1.2rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 1200px) {
    .experience .timeline {
        width: 100%;
    }

    .experience .timeline .container {
        display: flex;
        width: fit-content;
        right: auto;
        left: auto;
    }

    .experience .timeline .container .content {
        width: 100%;
        left: auto;
        right: auto;
        flex-direction: row;
    }

    .experience .timeline .container i {
        display: none;
    }
}