:root {
  /* BUNKER PALETTE */
  --bunker-50: #f1f8fa;
  --bunker-100: #ddedf0;
  --bunker-200: #bedae3;
  --bunker-300: #91c0cf;
  --bunker-400: #5d9db3;
  --bunker-500: #428198;
  --bunker-600: #396a81;
  --bunker-700: #34586a;
  --bunker-800: #314b59;
  --bunker-900: #2c404d;
  --bunker-950: #111b22;

  /* TURQUOISE PALETTE */
  --turquoise: #49dcb1ff;
  --turquoise-light: #92f8d9;

  /* BUNKER FOR OPACITY */
  --bunker-950-rgb: 17, 27, 34;

  /* COLORS */
  --earth-yellow: #ffc979;
  --prussian-blue: #012840;
  --airforce-blue: #6593a6;
  --fluorescent-cyan: #05f2f2;
  --safety-orange: #f27405;
  --licorice: #260d0b;

  /* DIMENSIONS */
  --header-height: 8vh;

  /* PALETTE 1 */
  /* CSS HEX */
  --light-coral: #ef767aff;
  --keppel: #49beaaff;
  --rich-black: #111b22ff;

}