@import "_variables.css";

#about {
  flex-direction: column;

  .core {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10vw;

    img {
      max-height: 70vh;
      min-height: 50vh;
      width: auto;
      border-radius: 2.5rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      text-wrap: pretty;
      max-width: 70ch;
      gap: 1rem;

      p strong {
        color: var(--earth-yellow);
      }
    }
  }
}