#contact {
    flex-direction: column;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 1.5rem;
        background-color: var(--bunker-950);
        gap: 1vw;
        box-shadow: 0 0 5px var(--bunker-500);
        overflow: hidden;

        img {
            padding: 10%;
            max-height: 60vh;
            width: auto;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            padding: 2vh 2vw;
            min-width: 30vw;

            .field {
                position: relative;
                width: 100%;

                ion-icon {
                    position: absolute;
                    margin-left: 0.75rem;
                }

                .input-icon {
                    transform: translateY(-50%);
                    top: 50%;
                }

                .textarea-icon {
                    top: 0.5rem;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 0.4rem 0.5rem;
                    padding-left: 2.5rem;
                    border-radius: 1rem;
                    resize: none;
                }
            }

            button:not(:hover) {
                background-color: var(--bunker-800);
            }
        }
    }
}

@media (max-width: 768px) {
    #contact {
        .card {
            flex-direction: column;
            width: 100%;

            img {
                max-height: 50vh;
                width: auto;
            }

            form {
                width: 100%;
            }
        }
    }
}