#contact {
    flex-direction: column;

    .section-title span {
        color: var(--fluorescent-cyan);
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 1.5rem;

        gap: 2vw;
        box-shadow: 0 0 10px white;
        overflow: hidden;

        img {
            max-height: 70vh;
            width: auto;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            padding: 2vh 1vw;
            min-width: 30vw;

            .field {
                position: relative;
                width: 100%;

                ion-icon {
                    position: absolute;
                    margin-left: 0.75rem;
                }

                .input-icon {
                    transform: translateY(-50%);
                    top: 50%;
                }

                .textarea-icon {
                    top: 0.5rem;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 0.4rem 0.5rem;
                    padding-left: 2.5rem;
                    border-radius: 1rem;
                    resize: none;
                }
            }


            button {
                background-color: var(--airforce-blue);
            }
        }
    }
}