@import "_variables.css";

#education {
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    a {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      overflow: hidden;
      border-radius: 1rem;
      background-color: var(--bunker-950);
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 0 10px white;
      }

      img {
        max-height: 50vh;
        width: auto;
        object-fit: cover;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        padding: 2vw;
        gap: 1vh;

        h3 {
          color: var(--earth-yellow);
          font-weight: bold;
        }

        h4 {
          color: var(--turquoise);
          font-weight: bold;
        }
      }
    }
  }
}