@import "_variables.css";

#education {
  flex-direction: column;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    a {
      display: flex;
      justify-content: center;
      overflow: hidden;
      border-radius: 1rem;
      background-color: var(--bunker-950);
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 0 10px white;
      }

      img {
        width: auto;
        object-fit: cover;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        padding: 2vw;
        gap: 1vh;

        h3 {
          color: var(--earth-yellow);
          font-weight: bold;
        }

        h4 {
          color: var(--turquoise);
          font-weight: bold;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  #education .container a {
    &:hover {
      box-shadow: 0 0 10px black;
    }

    .content h5 {
      color: white;
    }
  }
}

@media (max-width: 1024px) {
  #education .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  #education .container a {
    flex-wrap: wrap;

    img {
      max-height: none;
    }
  }
}