@import "_variables.css";

header {
  display: flex;
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--prussian-blue);
  padding-inline: 2vw;
  box-sizing: border-box;
  z-index: 2;

  nav {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    a {
      padding-inline: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &:hover:not(.active) {
        filter: brightness(1.5);
        opacity: 1;
        text-shadow: 0 0 2rem #fff;
      }

      &.active {
        color: grey;
      }
    }
  }
}