@import "_variables.css";

header {
  display: flex;
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bunker-950);
  padding-inline: 2vw;
  box-sizing: border-box;
  z-index: 2;

  nav {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 0.5rem;

    a {
      padding: 0.25rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: var(--bunker-50);
      border-radius: 1rem;

      &:hover:not(.active) {
        color: black;
        background-color: rgba(255, 255, 255, 0.7);
      }

      &.active {
        color: grey;
      }
    }
  }
}