@import "_variables.css";

header {
  display: flex;
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2vw;
  box-sizing: border-box;

  nav {
    display: flex;
    flex-direction: row;
    gap: 2vw;

    a {
      opacity: 0.8;

      &:hover {
        filter: brightness(1.5);
        opacity: 1;
        text-shadow: 0 0 2rem #fff;
      }
    }
  }
}
