@import "./_variables.css";

#home {
  --social-media-icon-size: 2.5rem;
  box-sizing: border-box;
  gap: 3vw;

  .content {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    min-width: 60%;

    h1 span {
      color: var(--earth-yellow);
      font-weight: bold;
    }

    h2 {
      display: flex;
      gap: 0.5ch;
      text-wrap: nowrap;
    }

    nav {
      display: flex;
      gap: 2vw;
      padding-inline: 0.25rem;

      a {
        transition: transform 0.4s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }

        .social-media-icon {
          height: var(--social-media-icon-size);
          width: auto;
        }
      }
    }

    >a {
      background-color: var(--bunker-600);
    }
  }

  img:not(.background) {
    max-height: 50vh;
    width: auto;
    object-fit: cover;
    border-radius: 100%;
  }
}