@import "_variables.css";

#projects {
  --box-height: 50vh;
  flex-direction: column;

  #projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    width: 100%;
    gap: 3vh;
  }

  a {
    background-color: var(--airforce-blue);
  }
}