@import "_variables.css";

#skills {
  flex-direction: column;

  #skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
    justify-content: center;
    width: 100%;
    gap: 3vh;
  }
}