@import "_variables.css";

#skills {
  flex-direction: column;

  .skillsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vh;

    .title {
      font-weight: bold;
      color: var(--earth-yellow);
    }

    #skillsCardContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
      grid-auto-rows: 20vh;
      justify-content: center;
      width: 100%;
      gap: 3vh;
    }
  }
}

@media (max-width: 640px) {
  #skills {
    #skillsCardContainer {
      grid-template-columns: repeat(auto-fill, minmax(15vh, 1fr));
    }
  }
}