@import "_variables.css";

#skills {
  flex-direction: column;
  position: relative;
  overflow: hidden;

  & > img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    background: black;
    box-shadow: 0px 1px 20px black;
    gap: 1rem;

    span {
      color: var(--fluorescent-cyan);
    }
  }

  #skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    width: 100%;
    gap: 3vh;
  }
}
