---
import skillsData from "@/data/skills.json";
import { SkillCategory } from "@/types";
import SkillCard from "./SkillCard.astro";

interface Props {
  skillCategory: SkillCategory;
}

const { skillCategory: skillType } = Astro.props;
---

<div class='skillsContainer'>
  <h3 class='title reveal'>{skillType}</h3>
  <div id='skillsCardContainer'>
    {
      skillsData
        .filter((skill) => skill.category === skillType)
        .map((skill) => (
          <SkillCard
            name={skill.name}
            imagePath={`/src/icons/${skill.icon}.svg`}
            altText={skill.name}
          />
        ))
    }
  </div>
</div>
