---
import "@/styles/skills.css";
import { SkillCategory } from "@/types";
import SkillsContainer from "./SkillsContainer.astro";
---

<section id='skills'>
  <h2 class='section-title reveal'>
    <ion-icon name='laptop-outline'></ion-icon>
    Skills
  </h2>
  <SkillsContainer skillCategory={SkillCategory.FRONTEND} />
  <SkillsContainer skillCategory={SkillCategory.BACKEND} />
  <SkillsContainer skillCategory={SkillCategory.DATABASE} />
  <SkillsContainer skillCategory={SkillCategory.OTHER} />
</section>
