---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  imagePath: string;
  altText: string;
}

const { name, imagePath, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/icons/*.{svg, astro}"
);
---

<div class='card reveal'>
  <Image
    src={images[imagePath]()}
    alt={altText}
    loading={"eager"}
    {...Astro.props}
  />
  <h6>{name}</h6>
</div>
<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 0 20px var(--bunker-950);
    background: var(--bunker-950);
    transition: 0.3s;
    gap: 15%;

    img {
      flex-grow: 1;
      max-width: 100%;
      width: auto;
    }

    h6 {
      font-weight: bold;
    }

    &:hover {
      box-shadow: 0 0 10px white;
      transform: scale(1.03);
    }
  }

  @media (prefers-color-scheme: light) {
    .card {
      &:hover {
        box-shadow: 0 0 20px var(--bunker-500);
      }
      h6 {
        color: white;
      }
    }
    .card h6 {
      color: white;
    }
  }
</style>
