---
import skillsData from "@/data/skills.json";
import "@/styles/skills.css";
import SkillCard from "./SkillCard.astro";
---

<section id='skills'>
  <h2 class='section-title'>
    <ion-icon name='laptop-outline'></ion-icon>
    Skills
  </h2>
  <div id='skillsContainer'>
    {
      skillsData.map((skill) => (
        <SkillCard
          name={skill.name}
          imagePath={`/src/icons/${skill.icon}.svg`}
          altText={skill.name}
        />
      ))
    }
  </div>
</section>
