:root{
  --dark-blue: #294F85;
  --grey-blue: #536175;
  --white-blue: #44D3DB;
  --white-red: #E0967D;
  --dark-red: #A83223;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s linear;
}

html {
  font-size: 65%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  background: #f7f7f7;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  padding: 2vh 5vw;
  min-height: calc(100vh - 6.5rem);
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  color: var(--dark-blue);
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--white-blue);
  width: 100%;
  margin-bottom: 0.5rem;
}

.btn {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  border-radius: 1em;
  padding: 1.6rem 2.7rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn i {
  transition: transform 0.3s ease-in-out;
}

.dark-blue {
  color: white;
  background: var(--dark-blue);
  box-shadow: 0px 0px 15px var(--dark-blue);
}

.dark-blue:hover {
  color: black;
  background: var(--white-blue);
  box-shadow: 0px 0px 15px var(--white-blue);
}

.white-blue {
  color: var(--dark-blue);
  background: white;
  box-shadow: 0px 0px 15px white;
}

.white-blue:hover {
  color: var(--white-blue);
  background: black;
  box-shadow: 0px 0px 15px black;
}

.dark-red {
  color: white;
  background: var(--dark-red);
}

.dark-red:hover {
  color: black;
  background: var(--white-red);
  box-shadow: 0px 0px 15px var(--white-red);

}

/* footer section starts */
footer {
    min-height: fit-content;
    background: var(--dark-blue);
  }
  
  footer .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 1rem 2.5rem;
  }
  
  footer .container .box {
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    gap: 1rem;
  }
  
  footer .container .box h3 {
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
  }
  
  footer .container .box a {
    font-size: 1.5rem;
    color: white;
  }
  
  footer .container .box a:hover {
    color: var(--white-red);
  }
  
  footer .container .box a i {
    margin-right: 1rem;
  }
  
  footer .container .box p {
    font-size: 1.5rem;
    color: white;
    text-transform: none;
  }
  
  footer .container .box .socials {
    display: inline-flex;
    gap: 2rem;
  }
  
  footer .container .box .socials a {
    padding: 1rem;
    border-radius: 50%;
    background: white;
    color: black;
    border: solid 2px transparent;
  }
  
  footer .container .box .socials a:hover {
    background: black;
    color: var(--white-red);
    border: solid 2px var(--white-red);
  }
  
  footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    gap: 1em;
    border-top: solid 0.25rem white;
  }
  
  footer h1 span {
    color: var(--white-red);
  }
  
  @media (max-width: 450px) {
    footer .container .box {
      margin: 1.5rem;
    }
  
    footer .container .box p {
      padding: 0.7rem;
    }
  
    footer .container .box .share a {
      padding: 1.2rem;
    }
  }
  
  /* common media queries starts*/
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  
    body {
      padding-right: 0;
    }
  
    section {
      padding: 2rem;
    }
  }
  
  /* scroll top starts */
  #scroll-top {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: -10%;
    right: 1.5rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background: var(--white-red);
    color: black;
    border-radius: 50%;
    transition: 0.5s linear;
    z-index: 1000;
  }

  #scroll-top:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1vw black;
  }
  
  #scroll-top.active {
    top: calc(100% - 6rem);
  }