/* #294F85 Azul oscuro
#536175 Azul grisáceo
#44D3DB Azul claro
#E0967D Rojo claro
#A83223 Rojo oscuro */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  transition: all 0.2s linear;
}

html {
  font-size: 65%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  background: #f7f7f7;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 2em 8%;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  color: #294F85;
}

hr {
  border: 0;
  height: 2px;
  background-color: #44D3DB;
  width: 100%;
  margin-bottom: 0.5rem;
}

.btn {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  border-radius: 1em;
  padding: 1.6rem 2.7rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn i {
  transition: transform 0.3s ease-in-out;
}

.dark-blue {
  color: white;
  background: #294F85;
  box-shadow: 0px 0px 15px #294F85;
}

.dark-blue:hover {
  color: black;
  background: #44D3DB;
  box-shadow: 0px 0px 15px #44D3DB;
}

.white-blue {
  color: #294F85;
  background: white;
  box-shadow: 0px 0px 15px white;
}

.white-blue:hover {
  color: #44D3DB;
  background: black;
  box-shadow: 0px 0px 15px black;
}

.dark-red {
  color: white;
  background: #A83223;
}

.dark-red:hover {
  color: black;
  background: #E0967D;
  box-shadow: 0px 0px 15px #E0967D;

}

/* *::selection {
  background: #2b3dda;
  color: #fff;
} */

.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

/* navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5vh;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header .logo i {
  margin-right: 1vw;
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}

header .logo:hover {
  color: #E0967D;
}

header .navbar {
  height: 100%;
  /* right: -120%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar ul {
  height: 100%;
  margin-right: 1vw;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

header .navbar ul li:hover a:not(.active) {
  color: white;
  background-color: #000;
}

header .navbar ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.7rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a.active {
  color: #44D3DB;
}

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}

#menu:hover {
  color: #0560fc;
}

@media (max-width: 768px) {
  #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 50%;
    height: 100%;
    height: fit-content;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
  }

  header .navbar ul li {
    text-align: center;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
  }

  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home {
  margin-top: 6.5rem;
  flex-direction: row !important;
  border: solid 5px greenyellow;
}

/* .home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */

.home .content {
  flex: 1 1 40rem;
  z-index: 1;
}

.home img {
  height: auto;
  max-width: 90vw;
  border-radius: 50%;
  padding: 0 5%;
  cursor: pointer;
  border: solid 5px greenyellow;
}

.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}

.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
}

.home .content p {
  font-size: 2.5rem;
  color: #002057;
  font-weight: 600;
  padding: 1rem 0;
}

.home .content p span {
  font-size: 2.5rem;
  color: #A83223;
  font-weight: 600;
  padding: 1rem 0;
}

.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  border-radius: 4em;
}

.home .btn i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.home .btn:hover i {
  transform: translateX(5px);
}

/* social icons start */
.home .socials {
  position: relative;
  margin-top: 9rem;
}

.socials .social-icons {
  padding-left: 0;
  list-style: none;
}

.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: #616161;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}

.social-icons a.github:hover {
  background-color: #0e0e0e;
}

.social-icons a.gmail:hover {
  background: linear-gradient(120deg, #3e65cf, #c71610, #f2a60c, #3b60c4, #08851b);

}

.social-icons a.linkedin:hover {
  background-color: #0072b1;
}

/* hero media queries starts*/
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }

  .socials {
    margin-top: 12rem;
  }

  .home .image img {
    margin-top: -12rem;
  }

  .home .content p {
    font-size: 2.2rem;
  }

  .home .content p span {
    font-size: 2.2rem;
  }
}

/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about {
  background: white;
}

.about .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5vw;
}

.about .resume-btn:hover {
  background: #44D3DB;
  color: black;
}

.about .resume-btn i {
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.resume-btn:hover i {
  transform: translateX(5px);
}

.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}

.about .row .image img {
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}

.about .row .image img:hover {
  mix-blend-mode: normal;
}

.about .row .content {
  display: flex;
  flex-direction: column;
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}

.about .row .content .tag {
  font-size: 1.4rem;
  color: #A83223;
  font-weight: 600;
  margin-top: 1rem;
}

.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  /* font-family: "Nunito"; */
  text-transform: none;
}

.about .row .content .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* font-family: "Nunito"; */
}

.about .row .content .container .box p {
  text-transform: none;
}

.about .row .content .container .box p span {
  font-weight: bold;
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    gap: 3rem;
  }

  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }

  .about .row {
    gap: 3rem;
  }
}
/* about section ends */

/* skills section starts */
.skills {
  background-image: url(/assets/images/mp_warm.png);
  background-size: cover;
  background-position: center;
}

.skills h2 {
  color: white;
}

.skills .heading {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 1.7rem;
  background: #000000d5;
  box-shadow: 0px 1px 20px black;
  border-radius: 20%/80%;
}

.skills .heading span {
  color: #44D3DB;
}

.skills .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 1.8rem;
  border-radius: 1rem;
}

.skills .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 13rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
  background: black;
  transition: 0.2s;
}

.skills .container .box:hover {
  box-shadow: 0 0 20px white;
  background: white;
}

.skills .container .box:hover span {
  color: black;
}

.skills .container .box img {
  height: 5rem;
  width: 5rem;
}

.skills .container .box span {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* education section starts */
.education {
  background: #e5ecfb;
}

.education .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.education .container .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}

.education .container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.education .container .box img {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  object-fit: cover;
}

.education .container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
  margin-left: 1rem;
}

.education .container .box .content h3 {
  font-size: 2.5rem;
  color: #294F85;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
}

.education .container .box .content p {
  font-size: 1.5rem;
  text-align: left;
}

.education h4 {
  font-size: 2rem;
  color: #A83223;
  text-align: left;
  margin: 1rem 0;
  font-weight: 700;
}

/* projects section starts */
.projects {
  background-image: url(/assets/images/mp_cold.png);
  background-size: cover;
  background-position: center;
}

.projects h2 {
  color: black;
  padding: 1rem;
}

.projects .heading {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 1.7rem;
  color: white;
  background: #000000d5;
  box-shadow: 0px 1px 20px black;
  border-radius: 20%/80%;
}

.projects .heading span {
  color: #E0967D;
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects .container .box {
  position: relative;
  height: 30rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s;
}

.projects .container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projects .container .box .content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  font-size: 2rem;
  background: #E0967D;
}

.projects .container .box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.projects .container .box:hover .content {
  top: auto;
  animation-name: slide-up;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.projects .container .box .content .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  gap: 2rem;
  bottom: -100%;
  left: 0;
  width: 100%;
}

.projects .container .box .desc p {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.projects .desc .btns {
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  width: 100%;
}

.projects .desc .btns .btn {
  line-height: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1.5rem 2.5rem;
}

.projects .desc .btns .button1:hover i {
  transform: translateX(-5px);
}

.projects .desc .btns .button2:hover i {
  transform: translateX(5px);
}

/* projects section ends */


/* experience section starts */
.experience .timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2%;
  gap: 2vh;
}

.experience .timeline::after {
  content: "";
  position: absolute;
  width: 0.5vw;
  background: #020133;
  top: 2%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-0.25vw);
  z-index: -2;
}

/*circles on timeline*/
.experience .timeline .container i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  border: 0.5rem solid #294F85;
  border-radius: 50%;
  background-color: white;
}

.experience .timeline .right .content {
  left: 3vw;
}

.experience .timeline .left .content {
  right: 3vw;
}

.experience .timeline .right i {
  left: -1.5vw;
}

.experience .timeline .left i {
  right: -1.5vw;
}
/*end circles on timeline*/

.experience .timeline .container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

.experience .container .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #294F85;
  height: 20vh;
  width: 30vw;
  position: relative;
  border-radius: 4%/10%;
  border: solid 1px black;
  overflow: hidden;
}

.experience .container a:hover .content {
  transform: scale(1.03);
  box-shadow: -1px 5px 10px #294F85;
}

.experience .container .content img {
  height: 100%;
  width: auto;
  border-radius: 4%/10%;
  box-sizing: border-box;
}

.experience .container.left {
  right: 50%;
}

.experience .container.right {
  left: 50%;
}

.experience .container.right .content {
  flex-direction: row-reverse;
}

.experience .container.right .content .text {
  flex-grow: 1;
}

.experience .container .content .text {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.experience .container .content .text h2 {
  font-size: 2rem;
  font-weight: 700;
}

.experience .container .content .text h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #E0967D;
}

.experience .container .content .text .desc p span {
  color: white;
}

.experience .content .desc h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.experience .content .desc p {
  font-size: 1.2rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 1200px) {
  .experience .timeline {
    width: 100%;
  }
  
  .experience .timeline .container {
    display: flex;
    width: fit-content;
    right: auto;
    left: auto;
  }

  .experience .timeline .container .content{
    width: 100%;
    left: auto;
    right: auto;
    flex-direction: row;
  }

  .experience .timeline .container i {
    display: none;
  }
}

/* contact section starts */
.contact {
  background: #e5ecfb;
}

.contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 5px 10px #536175;
  height: fit-content;
  width: 70vw;
  max-width: 70vw;
  padding: 2rem;
}

.contact .container img {
  width: auto;
  height: 100%;
  max-height: 75vh;
  max-width: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.contact .container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0.7;
  height: 100%;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  color: rgb(51, 51, 51);
  font-size: 1.5rem;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
  overflow: auto;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #A83223;
}

.field input:focus~i,
.message textarea:focus~i {
  color: #A83223;
}

form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}

form .message i {
  top: 2.25rem;
  font-size: 2rem;
  left: 1rem;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0;
}

.contact .container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.contact .container form button i {
  position: relative;
  right: 2rem;
  color: white;
  transform: translateY(5%);
  transition: all 0.3s;
}

.contact .container form button:hover,
.contact .container form button:hover i {
  color: black;
}

/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }

  .contact .container {
    margin: 3rem 0 2rem 0;
  }

  .contact .container .content {
    padding: 18px 12px;
  }

  .contact .content .image-box {
    display: none;
  }

  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}

/* contact section media queries ends */

/* contact section ends */

/* footer section starts */
footer {
  min-height: fit-content;
  background: #294F85;
}

footer .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 1rem 2.5rem;
}

footer .container .box {
  flex: 1 1 25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
  gap: 1rem;
}

footer .container .box h3 {
  font-size: 2.5rem;
  color: white;
  font-weight: normal;
}

footer .container .box a {
  font-size: 1.5rem;
  color: white;
}

footer .container .box a:hover {
  color: #E0967D;
}

footer .container .box a i {
  margin-right: 1rem;
}

footer .container .box p {
  font-size: 1.5rem;
  color: white;
  text-transform: none;
}

footer .container .box .socials {
  display: inline-flex;
  gap: 2rem;
}

footer .container .box .socials a {
  padding: 1rem;
  border-radius: 50%;
  background: white;
  color: black;
  border: solid 2px transparent;
}

footer .container .box .socials a:hover {
  background: black;
  color: #E0967D;
  border: solid 2px #E0967D;
}

footer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  gap: 1em;
  border-top: solid 0.25rem white;
}

footer h1 span {
  color: #E0967D;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 450px) {
  footer .container .box {
    margin: 1.5rem;
  }

  footer .container .box p {
    padding: 0.7rem;
  }

  footer .container .box .share a {
    padding: 1.2rem;
  }
}

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  body {
    padding-right: 0;
  }

  section {
    padding: 2rem;
  }
}

/* scroll top starts */
#scroll-top {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: -10%;
  right: 1.5rem;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  font-weight: bold;
  background: #E0967D;
  color: black;
  border-radius: 50%;
  transition: 0.5s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 6rem);
}