.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

/* navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5vw;
  height: 6.5rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header .logo i {
  margin-right: 1vw;
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}

header .logo:hover {
  color: var(--white-red);
}

header .navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

header .navbar ul li:hover a:not(.active) {
  color: white;
  background-color: #000;
}

header .navbar ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
  font-size: 1.7rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a.active {
  color: var(--white-blue);
}

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: black;
  display: none;
}

@media (max-width: 1050px) {
  #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    display: flex;
    top: 6.5rem;
    right: -100%;
    padding: 2vw;
    height: fit-content;
    align-items: center;
    background-color: black;
  }

  header .navbar ul {
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 2vh;
    list-style: none;
  }

  header .navbar ul li {
    text-align: center;
    border-radius: 0.5rem;
    height: 5vh;
    
  }

  header .navbar ul li a {
    padding: 1vw;
    color: white;
    font-size: 2rem;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home {
  margin-top: 6.5rem;
  display: flex;
  flex-direction: row !important;
}

.home .content {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  flex: 1 1 40rem;
  gap: 2rem;
}

.home img {
  height: auto;
  max-width: 90vw;
  border-radius: 50%;
  padding: 0 5%;
  cursor: pointer;
}

.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}

.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
}

.home .content p {
  font-size: 2.5rem;
  color: #002057;
  font-weight: 600;
}

.home .content p span {
  font-size: 2.5rem;
  color: var(--dark-red);
  font-weight: 600;
}

.home .btn {
  width: fit-content;
  margin-top: 1rem;
  line-height: 0;
  border-radius: 4em;
}

.home .btn i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.home .btn:hover i {
  transform: translateX(5px);
}

/* social icons start */
.socials li {
  display: inline-block;
  margin-bottom: 14px;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: #616161;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.socials a:active,
.socials a:hover {
  color: #fff;
  background-color: #0685da;
}

.socials a.github:hover {
  background-color: #0e0e0e;
}

.socials a.gmail:hover {
  background: linear-gradient(120deg, #3e65cf, #c71610, #f2a60c, #3b60c4, #08851b);

}

.socials a.linkedin:hover {
  background-color: #0072b1;
}

/* about section starts */
.about {
  background: white;
}

.about .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  padding: 0 5vw;
}

.about .resume-btn:hover {
  background: var(--white-blue);
  color: black;
}

.about .resume-btn i {
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.resume-btn:hover i {
  transform: translateX(5px);
}

.about .row img {
  /* flex: 1 1 35rem; */
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.about .row .content {
  display: flex;
  flex-direction: column;
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}

.about .row .content .tag {
  font-size: 1.4rem;
  color: var(--dark-red);
  font-weight: 600;
  margin-top: 1rem;
}

.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  /* font-family: "Nunito"; */
  text-transform: none;
}

.about .row .content .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* font-family: "Nunito"; */
}

.about .row .content .container .box p {
  text-transform: none;
}

.about .row .content .container .box p span {
  font-weight: bold;
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    gap: 3rem;
  }

  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }

  .about .row {
    gap: 3rem;
  }
}
/* about section ends */

/* skills section starts */
.skills {
  background-image: url(/assets/images/mp_warm.png);
  background-size: cover;
  background-position: center;
}

.skills h2 {
  color: white;
}

.skills .heading {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 1.7rem;
  background: #000000d5;
  box-shadow: 0px 1px 20px black;
  border-radius: 20%/80%;
}

.skills .heading span {
  color: var(--white-blue);
}

.skills .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 3vw;
  border-radius: 1rem;
}

.skills .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 13rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
  background: black;
  transition: 0.2s;
}

.skills .container .box:hover {
  box-shadow: 0 0 20px white;
  background: white;
}

.skills .container .box:hover span {
  color: black;
}

.skills .container .box img {
  height: 5rem;
  width: 5rem;
}

.skills .container .box span {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* education section starts */
.education {
  background: #e5ecfb;
}

.education .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.education .container .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
  max-width: 80vw;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}

.education .container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.education .container .box img {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  object-fit: cover;
}

.education .container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
}

.education .container .box .content h3 {
  font-size: 2.5rem;
  color: var(--dark-blue);
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
}

.education .container .box .content p {
  font-size: 1.5rem;
  text-align: left;
}

.education h4 {
  font-size: 2rem;
  color: var(--dark-red);
  text-align: left;
  margin: 1rem 0;
  font-weight: 700;
}

@media screen and (max-width: 600px){
  .education .container .box{
    flex-direction: column;
    height: fit-content;
  }

  .education .container .box img{
    height: auto;
    max-width: 90vw;
  }
}

/* projects section starts */
.projects {
  background-image: url(/assets/images/mp_cold.png);
  background-size: cover;
  background-position: center;
}

.projects h2 {
  color: black;
  padding: 1rem;
}

.projects .heading {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 1.7rem;
  color: white;
  background: #000000d5;
  box-shadow: 0px 1px 20px black;
  border-radius: 20%/80%;
}

.projects .heading span {
  color: var(--white-red);
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
}

.projects .container .box {
  position: relative;
  height: 40rem;
  max-width: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s;
}

.projects .container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projects .container .box .content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  font-size: 2rem;
  background: var(--white-red);
}

.projects .container .box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.projects .container .box:hover .content {
  top: auto;
  animation-name: slide-up;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.projects .container .box .content .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  gap: 2rem;
  bottom: -100%;
  left: 0;
  width: 100%;
}

.projects .container .box .desc p {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.projects .desc .btns {
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  width: 100%;
}

.projects .desc .btns .btn {
  line-height: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 1.5rem 2.5rem;
}

.projects .desc .btns .button1:hover i {
  transform: translateX(-5px);
}

.projects .desc .btns .button2:hover i {
  transform: translateX(5px);
}

/* contact section starts */
.contact {
  background: #e5ecfb;
}

.contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0px 20px var(--grey-blue);
  height: fit-content;
  margin-inline: 2vw;
  padding: 2vh 1vw;
  gap: 2vw;
}

.contact .container img {
  width: auto;
  height: 100%;
  max-height: 75vh;
  max-width: 100%;
  box-sizing: border-box;
}

.contact .container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0.7;
  height: 100%;
  gap: 1vw;
  min-width: 30vw;
}

.contact .container form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1vh;
}

.contact .container form .form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  width: 100%;
}

.contact .container form i {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  color: rgb(51, 51, 51);
  font-size: 1.5rem;
  pointer-events: none;
  transform: translateY(-50%);
}

.contact .container form .field input,
.contact .container form .message textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
  overflow: auto;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}

.contact .container form .field input:focus,
.contact .container form .message textarea:focus {
  padding-left: 47px;
  border: 2px solid var(--dark-red);
}

.field input:focus~i,
.message textarea:focus~i {
  color: var(--dark-red);
}

.contact .container form .message {
  position: relative;
  width: 100%;
}

.contact .container form .message i {
  top: 2.25rem;
  font-size: 2rem;
  left: 1rem;
}

.contact .container form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}

.contact .container form .message textarea::-webkit-scrollbar {
  width: 0;
}

.contact .container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.contact .container form button i {
  position: relative;
  right: 2rem;
  color: white;
  transform: translateY(5%);
  transition: all 0.3s;
}

.contact .container form button:hover,
.contact .container form button:hover i {
  color: black;
}