---
import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Education from "@/components/Education.astro";
import Experience from "@/components/experience/Experience.astro";
import Home from "@/components/Home.astro";
import Projects from "@/components/projects/Projects.astro";
import Skills from "@/components/skills/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title='Eduardo Velasco | Portfolio'
  description='Eduardo Velasco is a software engineer with expertise in web development, mobile development, and photography. He is passionate about leveraging technology and innovation to create impactful solutions.'
>
  <main>
    <Home />
    <Experience />
    <Projects />
    <Education />
    <Skills />
    <About />
    <Contact />
  </main>
</Layout>
