---
import { Image } from "astro:assets";
import "@/styles/about.css";
import profileImage from "../images/me/horizon.webp";
---

<section id='about'>
  <h2 class='section-title reveal'>
    <ion-icon name='person-outline'></ion-icon>
    About Me
  </h2>
  <div class='core'>
    <Image
      class='reveal'
      src={profileImage}
      draggable='false'
      alt='Profile'
      loading={"eager"}
    />
    <div class='content reveal'>
      <p>
        Hi, I'm Eduardo, and I'm delighted to have you here exploring my
        universe! I'm much more than lines of code and algorithms; I'm a
        <strong>computer engineer</strong> with an overflowing passion for <strong
          >creativity, photography, music and entrepreneurship.</strong
        >
      </p>
      <p>
        From microservices to interface design my journey in <strong
          >fullstack development</strong
        > is proving to be an exciting adventure. I love creating innovative solutions
        that make people's lives easier and help others.
      </p>
      <p>
        But don't worry, I'm not just a tech geek. I also find myself <strong
          >looking for inspiration in everything around me</strong
        >, capturing ephemeral moments through my camera.
      </p>
      <p>
        Music always accompanies me in my day to day life. These diverse
        interests intertwine in my day to day life, adding a unique layer to my
        approach to development and my view of the world.
      </p>
    </div>
  </div>
  <a
    class='btn reveal'
    href='/data/VelascoMartínezEduardo_EN.pdf'
    download='VelascoMartínezEduardo.pdf'
  >
    Resume
    <ion-icon name='document'></ion-icon>
  </a>
</section>
