---
import "../styles/header.css";
const pages = [
  "Home",
  "Experience",
  "Projects",
  "Education",
  "Skills",
  "About",
  "Contact",
];
---

<header>
  <!-- <AccountCircle /> -->
  <a href='/'>
    <span>Eduardo Velasco</span>
  </a>

  <nav>
    {pages.map((page) => <a href={`/#${page.toLowerCase()}`}>{page}</a>)}
  </nav>

  <button id='menu' style='display: none;'>
    <!-- <MenuIcon /> -->
  </button>
  <nav style='display: none;'>
    {pages.map((page) => <a href={`/#${page}`}>{page}</a>)}
  </nav>
</header>
<script>
  const $navAElements: Element[] = [
    ...document.querySelectorAll("header nav a"),
  ];

  window.addEventListener("scroll", () => {
    $navAElements.forEach((a) => {
      const selectionForSection = a.getAttribute("href")?.substring(1);
      const sectionElement: HTMLDivElement | null = document.querySelector(
        selectionForSection || "",
      );

      if (!sectionElement) return;
      const selectionTop = sectionElement.offsetTop - 150;
      if (window.scrollY <= selectionTop) return;
      $navAElements.forEach((aToRemove) =>
        aToRemove.classList.remove("active"),
      );
      a.classList.add("active");
    });
  });
</script>
