---
import GitHubIcon from "@/icons/GitHub.astro";
import GmailIcon from "@/icons/Gmail.astro";
import LinkedInIcon from "@/icons/LinkedIn.astro";
import profileImage from "@/images/me/graduate.webp";
import "@/styles/home.css";
import { Image } from "astro:assets";
import TypingText from "./TypingText.astro";

const phrases = ["full-stack", "photo editing", "branding", "logo creation"];
---

<section id='home'>
  <div class='content'>
    <h1>
      Hi There,<br />
      I am <strong>Eduardo Velasco</strong>
    </h1>
    <h2>
      I am into
      <TypingText
        phrases={phrases}
        styles='color: var(--turquoise); font-weight: bold;'
      />
    </h2>
    <a class='btn' href='#about'>
      About Me
      <ion-icon name='arrow-down-circle'></ion-icon>
    </a>
    <nav class='socials'>
      <a
        class='bg-transparent'
        aria-label='LinkedIn'
        href='https://www.linkedin.com/in/velmaredu'
        target='_blank'
        rel='noopener noreferer nofollow'
      >
        <LinkedInIcon class='social-media-icon' />
      </a>
      <a
        aria-label='Gmail'
        href='mailto:velmaredu@gmail.com'
        target='_blank'
        rel='noopener noreferer nofollow'
      >
        <GmailIcon class='social-media-icon' />
      </a>
      <a
        aria-label='GitHub'
        href='https://github.com/velmaredu'
        target='_blank'
        rel='noopener noreferer nofollow'
      >
        <GitHubIcon class='social-media-icon' />
      </a>
    </nav>
  </div>
  <Image src={profileImage} draggable='false' alt='Hero' loading={"eager"} />
</section>
