---
import { Image } from "astro:assets";
import skillsData from "../data/skills.json";
import background from "../images/mp_warm.webp";
import "../styles/skills.css";
import SkillCard from "./SkillCard.astro";
---

<section id='skills'>
  <h2 class='section-title'>
    <ion-icon name='laptop-outline'></ion-icon>
    <span>Skills</span>&<span>Abilities</span>
  </h2>
  <div id='skillsContainer'>
    {
      skillsData.map((skill) => (
        <SkillCard
          name={skill.name}
          imagePath={`/src/icons/${skill.icon}.svg`}
          altText={skill.name}
        />
      ))
    }
  </div>
  <Image class='background' src={background} alt='Background' />
</section>
