<span class='typing-text text-red-500'></span>
<script>
  import Typed from "typed.js";

  var typed = new Typed(".typing-text", {
    strings: [
      "full-stack development",
      "photo editing",
      "branding",
      "logo creation",
    ],
    loop: true,
    typeSpeed: 40,
    backSpeed: 25,
    backDelay: 600,
  });
</script>
