---
import experiences from "@/data/experience.json";
import "@/styles/experience.css";
import { Side, type Experience } from "@/types.ts";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import ExperienceCard from "./ExperienceCard.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/experience/**/*.{svg,png,jpg}",
);
---

<section id='experience'>
  <h2 class='section-title'>
    <ion-icon name='briefcase-outline'></ion-icon>
    Experience
  </h2>
  <div class='timeline'>
    {
      experiences.map((experience: Experience, index: number) => (
        <div
          class={`experience-row ${index % 2 == 0 ? Side.left : Side.right}`}
        >
          <div class='circle'>
            <ion-icon name='briefcase' />
          </div>
          <ExperienceCard
            experience={experience}
            side={index % 2 == 0 ? Side.left : Side.right}
          >
            <Image
              class='card-image'
              src={images[experience.icon]()}
              draggable='false'
              alt={experience.name}
            />
          </ExperienceCard>
        </div>
      ))
    }
  </div>
  <a href='/experience/experience.html' class='btn'>
    View All
    <ion-icon name='arrow-forward-outline'></ion-icon>
  </a>
</section>
<style>
  .card-image {
    height: 100%;
    width: auto;
    border-radius: 4%/10%;
    object-fit: contain;
  }
</style>
