// DIMENSIONS
$top-navbar-height: 4rem;

// COLORS
// LIGHT
$light-bg: #f8f8ff;
$light-color: black;
$light-code: tomato;

// DARK
$dark-bg: #2f4f4f;
$dark-color: white;
$dark-code: gold;

$dark-blue: #294f85;
$grey-blue: #536175;
$white-blue: #44d3db;
$white-red: #e0967d;
$dark-red: #a83223;
$default-light-text-color: black;
$default-dark-text-color: white;
