@import "./_variables.scss";

#contact {
  background: #e5ecfb;

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    padding: 1vw;
    flex-wrap: wrap;
    border-radius: 1.5rem;
    box-shadow: 0 0px 20px $grey-blue;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1vw;

      .form-control {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1vh;
      }

      button {
        width: fit-content;
      }
    }
  }

  button {
    border-radius: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
}
