@import "variables";

#education {
  background: #e5ecfb;

  .container {
    flex-wrap: wrap;
    align-items: center;
    gap: 2vw;

    .box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      max-width: 80vw;
      gap: 1vw;
      border-radius: 1rem;
      box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      background: white;

      &:hover {
        transform: scale(1.03);
        box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
      }

      img {
        max-height: 45vh;
        width: auto;
        box-sizing: border-box;
        object-fit: cover;
      }

      .content {
        padding: 2vw;

        h6 {
          color: $dark-red;
          font-weight: bold;
        }

        h5 {
          color: $dark-blue;
          font-weight: bold;
        }
      }
    }
  }
}
