@import "variables";

$ligh-link-color: #0e2431;
$light-header-bg: #92a1b0;
$dark-header-bg: #40464d;

header {
  // background-color: $dark-header-bg !important;
  align-items: center;
  justify-content: space-between;
  height: $top-navbar-height;

  .logo {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-weight: bold;
    // color: white;

    &:hover * {
      transition: 0.3s ease-in-out;
      color: $white-red;
    }
  }

  .navbar {
    flex-grow: 1;
    justify-content: flex-end;
    height: 100%;

    a {
      display: flex;
      height: 100%;
      align-items: center;
      padding-inline: 1vw;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: $light-bg;
        color: $light-color;
      }

      &.active {
        color: $white-blue;
      }
    }
  }

  #menu {
    color: $dark-color;
    cursor: pointer;
  }
}
