@import 'variables';

$ligh-link-color: #0e2431;

header {
  align-items: center;
  justify-content: space-between;
  height: $top-navbar-height;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);

  .logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 750;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &:hover {
      color: $white-red;
    }

    svg {
      font-size: 1.6rem;
      margin-right: 1vw;
      transition: transform 0.3s ease-in-out;
    }
  }

  .navbar {
    flex-grow: 1;
    justify-content: flex-end;
    height: 100%;

    a {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding-inline: 1vw;
      font-size: 1.1rem;
      font-weight: 650;
      letter-spacing: 0.04rem;
      cursor: pointer;
      transition: 0.2s;

      &:hover:not(.active) {
        color: white;
        background-color: #000;
      }

      &.active {
        color: $white-blue;
      }
    }
  }

  #menu {
    font-size: 3rem;
    cursor: pointer;
    height: fit-content;
  }
}
