@import "variables";

.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: black;
  display: none;
}

@media (max-width: 1050px) {
  #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    display: flex;
    top: 6.5rem;
    right: -100%;
    padding: 2vw;
    height: fit-content;
    align-items: center;
    background-color: black;

    &.nav-toggle {
      right: 0;
    }

    ul {
      flex-flow: column;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      gap: 2vh;
      list-style: none;

      li {
        text-align: center;
        border-radius: 0.5rem;
        height: 5vh;

        a {
          padding: 1vw;
          color: white;
          font-size: 2rem;
        }
      }
    }
  }

  .fa-times {
    transform: rotate(180deg);
  }
}
