---
import "@fontsource-variable/overpass";
import "../styles/_variables.css";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Overpass Variable", sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--header-height);
    height: 100vh;
    box-sizing: border-box;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  section {
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    gap: 3vh;
    padding: 2vw 5vw;
    box-sizing: border-box;
  }

  button {
    width: fit-content;
  }
</style>
