---
import "@fontsource-variable/quicksand";
import "@/styles/_variables.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'></script>
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Quicksand Variable", sans-serif;
    scroll-behavior: smooth;
  }

  * {
    overflow: visible;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  main {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  img {
    overflow: hidden;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    gap: 2vw;
    padding: var(--header-height) 7vw;
    box-sizing: border-box;

    .reveal {
      animation: reveal linear both;
      animation-timeline: view();
      animation-range: 10% 25%;
    }
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 1rem;
  }

  button,
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem 0.75rem;
    border-radius: 10rem;
    gap: 0.25rem;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: var(--bunker-800);
    transition: 0.3s ease-in-out;

    &:hover {
      color: black;
      background-color: var(--turquoise-light);
      transition: all 0.3s ease-in-out;
    }
  }

  ion-icon {
    font-size: "inherit";
  }

  .background {
    height: 100%;
    max-width: none;
    position: absolute;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
    filter: blur(5px);
  }

  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 100px;
    }

    to {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>
